<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Enroll Member</title>
<link rel="stylesheet" href="../../css/myStyle.css"/>
</head>
<body>
<h2 align="center">회원 가입 하기</h2>
<hr>
 <section id="myinfo">
 <form action="../../minsert.lo" id="enrollForm" method="post">
 <table>
 <tr>
 <td>ID :</td>
 <td><input type="text" name="id" id="userid"></td>
 </tr>
 <tr>
 <td>Password :</td>
 <td><input type="password" name="passwd"></td>
 </tr>
 <tr>
 <td>이름 :</td>
 <td><input type="text" name="name"></td>
 </tr>
 <tr>
 <td>E-Mail :</td>
 <td><input type="email" name="email"></td>
 </tr>
 </table>
 <p align="center">
 <button type="submit">회원 가입하기</button> &nbsp; &nbsp;
 <button type="reset">작성 양식 초기화</button>
 </p>
 </form>
 </section>
 <br> <br>
 <p align="center">
 <button type="button" onclick="location.href='../../view/index.jsp';">메인으로
가기</button>
 </p>
<script type="text/javascript"
 src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 <script type="text/javascript">
 $("#enrollForm").submit(function(event){
 var regex = /^[A-Za-z0-9]{5,14}$/; // 정규식을 통한 문자열 패턴 분석
 var chk = 0;
 if($('#userid').val().length < 5) { 
 alert("아이디는 5자 이상이어야 합니다.");
 } else if(!regex.test($('#userid').val())) { 
 alert("아이디는 영문자와 숫자만 가능합니다.");
 } else {
 $.ajax({ // ajax를 통한 아이디 중복 값 체크
 url : "../../dupid.lo",
 type : "post",
 async : false,
 data : {
 id : $('#userid').val()
 },
 dataType : "text",
 success : function(value) {
 if(value === "fail"){
 alert("이미 존재하는 아이디입니다.\n 다른 아이디로 정하십시오.");
 } else { alert("정상 가입이 되었습니다."); chk++; }
 },
 error : function(request,status,error) {
alert("code:"+request.status+"\n"+"message:"+
request.responseText+"\n"+"error:"+error); }
 });
 }
 if(chk == 0) event.preventDefault();
 });
 </script>
</body>
</html>